.completedSteps {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "quicksand";
}

.completedSteps__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.completedSteps__rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  background: #c0c0c0;
  margin-bottom: 5px;
  color: white;
  border-radius: 50%;
}

.completedSteps__line {
  width: 100px;
  height: 5px;
  margin-top: -5px;
  background: #c0c0c0;
}

.completedSteps__line.active {
  background: #ff4800;
}

.completedSteps__rounded.active {
  background: #ff4800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  color: white;
  border-radius: 50%;
}

.completedSteps__textOne {
  margin-left: -12px;
}

.completedSteps__textTwo {
  margin-left: -17px;
}

.completedSteps__textThree {
  margin-left: -20px;
}

.completedSteps__textFour {
  margin-left: -30px;
}

.completedSteps__textFive {
  margin-left: -38px;
}

@media (max-width: 425px) {
  .completedSteps__line {
    width: 30px !important;
    height: 5px;
  }
  .completedSteps__textOne {
    display: none;
  }

  .completedSteps__textTwo {
    display: none;
  }

  .completedSteps__textThree {
    display: none;
  }

  .completedSteps__textFour {
    display: none;
  }

  .completedSteps__textFive {
    display: none;
  }
}

@media (max-width: 550px) {
  .completedSteps {
    margin-left: -1rem !important;
  }
}

@media (max-width: 768px) {
  .completedSteps {
    padding-left: 1rem;
  }
  .completedSteps__line {
    width: 70px;
    height: 5px;
  }
  .completedSteps__textOne {
    font-size: 14px;
    margin-left: -10px;
  }

  .completedSteps__textTwo {
    font-size: 14px;
    margin-left: -17px;
  }

  .completedSteps__textThree {
    font-size: 14px;
    margin-left: -20px;
  }

  .completedSteps__textFour {
    font-size: 14px;
    margin-left: -30px;
  }

  .completedSteps__textFive {
    font-size: 14px;
    margin-left: -28px;
  }
}

@media (min-width: 1440px) {
  .completedSteps__rounded {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }

  .completedSteps__line {
    width: 100px;
    height: 5px;
  }

  .completedSteps__rounded.active {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }

  .completedSteps__textOne {
    font-size: 22px;
    margin-left: -20px;
  }

  .completedSteps__textTwo {
    font-size: 22px;
    margin-left: -27px;
  }

  .completedSteps__textThree {
    font-size: 22px;
    margin-left: -35px;
  }

  .completedSteps__textFour {
    font-size: 22px;
    margin-left: -50px;
  }

  .completedSteps__textFive {
    font-size: 22px;
    margin-left: -50px;
  }
}

@media (min-width: 2560px) {
  .completedSteps__rounded {
    font-size: 25px;
    width: 50px;
    height: 50px;
  }

  .completedSteps__line {
    width: 200px;
    height: 10px;
  }

  .completedSteps__rounded.active {
    font-size: 25px;
    width: 50px;
    height: 50px;
  }

  .completedSteps__textOne {
    font-size: 30px;
    margin-left: -37px;
  }

  .completedSteps__textTwo {
    font-size: 30px;
    margin-left: -27px;
  }

  .completedSteps__textThree {
    font-size: 30px;
    margin-left: -35px;
  }

  .completedSteps__textFour {
    font-size: 30px;
    margin-left: -50px;
  }

  .completedSteps__textFive {
    font-size: 30px;
    margin-left: -62px;
  }
}
