.cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  font-family: "Quicksand", sans-serif;
  gap: 1em;
}

.cart__left {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1.5em;
  flex: 2 1 30rem;
  border-radius: 1.8em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.cart__title {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
  font-size: clamp(1.5rem, 1.8vw, 2.5rem);
}

hr {
  opacity: 0.2;
}

.cart__card {
  display: flex;
  margin: 2rem 0;
  position: relative;
  flex-direction: column;
  width: 100%;
  /* flex-wrap: wrap; */
}

.cart__cardImg {
  object-fit: contain;
  /* height: 200px; */
  max-height: 15rem;
  max-width: 9rem;
  margin: 0 auto;
  width: 80%;
  border-radius: 1.2em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.cart__cardText {
  width: 100%;
  margin-top: 1rem;
}

.cart__textHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__cardTitle {
  font-weight: 700;
  flex: 1;
  width: 100%;
  margin-bottom: 5px;
}

.cart__titleText {
  /* font-size: 1.4rem; */
  font-size: clamp(1.1rem, 1.5vw, 2rem);
}

.cart__cardAuthors {
  font-size: 0.9rem;
}

.cart__cardTitle span {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

.cart__counterTitle {
  font-size: clamp(0.9rem, 1.15vw, 1.3rem);
}

.cart__cardRating {
  display: flex;
}

.cart__btnAction {
  display: flex;
  align-items: center;
}

.cart__btn {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.cart__cardBtn {
  position: relative;
  display: flex;
  align-items: center;
  background: none;
  text-align: center;
  margin-top: 20px;
  justify-content: space-between;
  width: 70px;
  outline: none;
  color: gray;
}

.cart__cardBtn p {
  font-family: "Quicksand", sans-serif;
  margin-left: 8px;
  /* font-size: 14px; */
  font-size: clamp(0.8rem, 0.75vw, 1.1rem);
  letter-spacing: 1px;
}

.cart__cardBtn::after {
  content: "";
  position: absolute;
  border-left: 1px solid gray;
  width: 20px;
  height: 20px;
  left: -0.75rem;
}

.cart__cardBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cart__conuterInput {
  display: flex;
  margin: 0.5rem 0;
}

.cart__counter {
  margin: 10px 0px;
}

.cart_counterQuantity {
  width: 50px;
  text-align: center;
  height: 20px;
  outline: none;
  cursor: default;
  border: none;
  font-size: clamp(0.8rem, 0.75vw, 1.1rem);

}

.cart__counterBtnMinus,
.cart__counterBtnPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  width: 23px;
  height: 23px;
  color: white;
  border-radius: 3px;
  transition: all 0.2s ease;
  border-radius: 50%;
  background: #ff4800;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(255, 72, 0, 0.3);
}

.cart__counterBtnMinus:hover,
.cart__counterBtnPlus:hover {
  cursor: pointer;
  color: white;
  background: #d33e03;
}

.cart__btnDisabled {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 3px;
  transition: all 0.2s ease;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
  cursor: default;
  background: whitesmoke;
}

.cart__cardPrice {
  font-weight: bold;
  /* font-size: 1.2rem; */
  font-size: clamp(1rem, 1.25vw, 1.7rem);
}

.cart__cardPrice.responsive {
  display: none;
}

.cart__cartIcon {
  font-size: 30px !important;
  margin-left: 10px;
}

.cart__counterIcon {
  font-size: 15px !important;
}

.cart__deleteIcon {
  font-size: 20px !important;
}

@media (min-width: 570px) {
  .cart__card {
    flex-direction: row;
  }
  .cart__cardText {
    margin-top: 0;
  }

  .cart__cardImg {
    margin: 0 20px 0 0;
    /* height: 200px; */
  }
}

@media (min-width: 750px) {
  .cart {
    flex-direction: row;
  }

  .cart__right {
    flex: 1 1 15rem;
  }
}

@media (min-width: 1900px) {
  .cart__left {
    padding: 2em;
  }
}

/* 
@media (max-width: 1000px) {
  .cart__title {
    font-size: 25px;
  }
  .cart__titleText {
    font-size: 1.2rem;
  }

  .cart__cardImg {
    height: 170px;
  }

  .cart__cardAuthors {
    font-size: 0.8rem;
  }

  .cart__cardPrice {
    font-size: 1rem;
  }
  .cart__counterTitle {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .cart {
    flex-wrap: wrap-reverse;
  }
  .cart__title {
    font-size: 23px;
  }
  .cart__left {
    width: 100%;
  }
  .cart__counterTitle {
    font-size: 16px;
  }
  .cart__right {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .cart__cardBtn p {
    font-size: 12px;
  }

  .cart__cartIcon {
    font-size: 22px !important;
    margin-left: 10px;
  }

  .cart__left {
    margin: 20px 0;
  }
  .cart__counterTitle {
    font-size: 14px;
  }
  .cart__cardPrice {
    display: none;
  }
  .cart__cardPrice.responsive {
    display: block;
  }
}

@media (max-width: 430px) {
  .cart__cardImg {
    height: 140px;
  }
  .cart__card {
    flex-wrap: wrap;
  }
  .cart__titleText {
    font-size: 16px;
  }

  .cart__cardAuthors {
    font-size: 12px;
  }
}

@media (min-width: 2560px) {
  .cart {
    margin-top: 6rem;
  }
  .cart__left {
    border-radius: 35px;
    padding: 40px;
  }

  .cart__title {
    font-size: 55px;
  }

  .cart__card {
    margin-top: 50px;
  }
  .cart__cardImg {
    border-radius: 30px;
    height: 350px;
    margin-right: 40px;
  }

  .cart__cartIcon {
    font-size: 50px !important;
  }

  .cart__cardTitle span {
    font-size: 25px;
  }

  .cart__cardAuthors {
    font-size: 25px;
  }

  .cart__titleText {
    font-size: 40px;
  }

  .cart__cardPrice {
    font-size: 35px;
  }

  .cart__counterInput {
    margin: 20px 0px 30px 0px;
  }

  .cart__counter {
    margin: 20px 0px;
  }

  .cart_counterQuantity {
    width: 100px;
    height: 42px;
    font-size: 30px;
    line-height: 50px;
    border: none;
  }

  .cart__counterBtnMinus,
  .cart__counterBtnPlus {
    width: 42px;
    height: 42px;
  }
  .cart__btnDisabled {
    width: 42px;
    height: 42px;
  }

  .cart__counterIcon {
    font-size: 28px !important;
  }
  .cart__counterTitle {
    font-size: 30px;
  }

  .cart__deleteIcon {
    font-size: 40px !important;
  }

  .cart__btn {
    margin-left: 3rem;
  }

  .cart__right {
    width: 700px;
  }

  .cart__cardBtn {
    margin-top: 40px;
  }

  .cart__cardBtn p {
    margin-left: 8px;
    font-size: 25px;
  }

  .cart__cardBtn::after {
    border-left: 2px solid gray;
    width: 20px;
    height: 42px;
    left: -1.25rem;
  }
} */
