.cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  font-family: "Quicksand", sans-serif;
  /* gap: 1em; */
  padding: 3em 0;
}

.cart__left {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1.5em;
  flex: 2 1 30rem;
  border-radius: 1.8em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.cart__title {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
  font-size: clamp(1.5rem, 1.8vw, 2.5rem);
}

hr {
  opacity: 0.2;
}

.cart__card {
  display: flex;
  margin: 2rem 0;
  position: relative;
  flex-direction: column;
  width: 100%;
  /* flex-wrap: wrap; */
}

.cart__cardImg {
  object-fit: contain;
  /* height: 200px; */
  max-height: 15rem;
  max-width: 9rem;
  margin: 0 auto;
  width: 80%;
  border-radius: 1.2em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.cart__cardText {
  width: 100%;
  margin-top: 1rem;
}

.cart__textHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__cardTitle {
  font-weight: 700;
  flex: 1;
  width: 100%;
  margin-bottom: 5px;
}

.cart__titleText {
  /* font-size: 1.4rem; */
  font-size: clamp(1.1rem, 1.5vw, 2rem);
}

.cart__cardTitle span {
  /* font-size: 14px; */
  font-size: clamp(0.8rem, 0.75vw, 1.05rem);

  font-weight: 400;
  color: gray;
}

.cart__counterTitle {
  font-size: clamp(0.9rem, 1.15vw, 1.3rem);
}

.cart__cardRating {
  display: flex;
}

.cart__btnAction {
  display: flex;
  align-items: center;
}

.cart__btn {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.cart__cardBtn {
  position: relative;
  display: flex;
  align-items: center;
  background: none;
  text-align: center;
  margin-top: 20px;
  justify-content: space-between;
  width: 70px;
  outline: none;
  color: gray;
}

.cart__cardBtn p {
  font-family: "Quicksand", sans-serif;
  margin-left: 8px;
  /* font-size: 14px; */
  font-size: 0.8rem;
  font-weight: 700;
  color: #f50000;
  /* letter-spacing: 1px; */
}

.cart__cardBtn::after {
  content: "";
  position: absolute;
  border-left: 1px solid gray;
  width: 20px;
  height: 20px;
  left: -0.75rem;
}

.cart__cardBtn:hover {
  cursor: pointer;
  /* text-decoration: underline; */
}

.cart__conuterInput {
  display: flex;
  margin: 0.5rem 0;
}

.cart__counter {
  margin: 10px 0px;
}

.cart_counterQuantity {
  width: 50px;
  text-align: center;
  height: 20px;
  outline: none;
  cursor: default;
  border: none;
  /* font-size: clamp(0.8rem, 0.75vw, 1.1rem); */
}

.cart__counterBtnMinus,
.cart__counterBtnPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  width: 23px;
  height: 23px;
  color: white;
  border-radius: 3px;
  transition: all 0.2s ease;
  border-radius: 50%;
  background: #ff4800;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(255, 72, 0, 0.3);
}

.cart__counterBtnMinus:hover,
.cart__counterBtnPlus:hover {
  cursor: pointer;
  color: white;
  background: #d33e03;
}

.cart__btnDisabled {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 3px;
  transition: all 0.2s ease;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
  cursor: default;
  background: whitesmoke;
}

.cart__cardPrice {
  font-weight: bold;
  /* font-size: 1.2rem; */
  margin-top: 0.5rem;
  font-size: clamp(1rem, 1.25vw, 1.7rem);
}

.cart__cardPrice.responsive {
  display: none;
}

.cart__cartIcon {
  font-size: 30px !important;
  margin-left: 10px;
}

.cart__counterIcon {
  font-size: 15px !important;
}

.cart__deleteIcon {
  font-size: 20px !important;
  color: #f50000;
}

@media (min-width: 570px) {
  .cart__card {
    flex-direction: row;
  }
  .cart__cardText {
    margin-top: 0;
  }

  .cart__cardImg {
    margin: 0 20px 0 0;
    /* height: 200px; */
  }
}

@media (min-width: 750px) {
  .cart {
    flex-direction: row;
  }

  .cart__right {
    flex: 1 1 15rem;
    margin-left: 2rem;
  }
}

@media (min-width: 1800px) {
  .cart__left {
    padding: 2em;
  }

  .cart__right {
    flex: 1 1 10rem;
  }
}
