.checkout__shipSubtitle {
  font-size: 12px;
  color: gray;
}

.checkout__btn {
  width: 100%;
}

.checkout__BtnCart,
.checkout__BtnBuy {
  width: 100%;
  height: 35px;
  font-family: "Quicksand", sans-serif;
  color: white;
  border-radius: 30px;
  background: #ff4800;
  border: none;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(255, 72, 0, 0.3);
}
.checkout__BtnCart {
  background: #ff4800;
  display: flex;
  align-items: center;
}

.checkout__BtnBuy {
  margin-top: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
  background: white;
  color: #ff4800;
  display: flex;
  align-items: center;
}

.checkout__BtnCart:hover {
  background: rgb(243, 69, 0);
  cursor: pointer;
}

.checkout__BtnBuy:hover {
  background: rgb(250, 250, 250);
  cursor: pointer;
}

.checkout__BtnBuy:disabled,
.checkout__BtnCart:disabled {
  outline: none;
  border: none;
  width: 100%;
  height: 35px;
  transition: all 0.2s ease;
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
  cursor: default;
  background: whitesmoke;
}

.checkout__imageBtn {
  margin-left: 10px;
}

.checkout__btnCartName,
.checkout__btnBuyName {
  margin: 0 auto;
}

.checkout__counterInput {
  display: flex;
  margin: 10px 0px 20px 0px;
}

.checkout__counter {
  margin: 10px 0px;
}

.checkout_counterQuantity {
  width: 50px;
  text-align: center;
  height: 20px;
  outline: none;
  cursor: default;
  border: none;
}

.checkout__counterBtnMinus,
.checkout__counterBtnPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  width: 23px;
  height: 23px;
  color: white;
  transition: all 0.2s ease;
  border-radius: 50%;
  background: #ff4800;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(255, 72, 0, 0.3);
}
.checkout__counterBtnMinus:disabled,
.checkout__counterBtnPlus:disabled {
  outline: none;
  border: none;
  width: 23px;
  height: 23px;
  transition: all 0.2s ease;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
  cursor: default;
  background: whitesmoke;
}

.checkout__price {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.checkout__shipImg {
  width: 40px;
  margin-right: 5px;
}

.checkout__ship {
  display: flex;
  align-items: center;
}

.checkout__price {
  font-weight: bolder;
}

.checkout__counterIcon {
  font-size: 15px !important;
}

@media (max-width: 600px) {
  .checkout {
    font-size: 14px;
  }
  .checkout__shipTitle {
    font-size: 16px;
  }

  .checkout__price {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .checkout__BtnCart,
  .checkout__BtnBuy {
    height: 30px;
  }

  .checkout__BtnBuy:disabled,
  .checkout__BtnCart:disabled {
    height: 30px;
  }
}

@media (min-width: 2000px) {
  .checkout__shipImg {
    font-size: 40px !important;
  }
  .checkout__shipTitle {
    font-size: 40px;
  }

  .checkout__counterTitle {
    font-size: 28px;
  }a

  .checkout__price {
    font-size: 35px;
  }

  .checkout__shipSubtitle {
    font-size: 22px;
  }

  .checkout__BtnCart,
  .checkout__BtnBuy {
    margin-top: 25px;
    height: 65px;
    border-radius: 35px;
    font-size: 22px;
  }

  .checkout__BtnBuy {
    margin-top: 1rem;
  }

  .checkout__BtnBuy:disabled,
  .checkout__BtnCart:disabled {
    margin-top: 25px;
    height: 65px;
    border-radius: 35px;
    font-size: 22px;
  }

  .checkout__btnIcon {
    font-size: 35px !important;
    margin-left: 20px;
  }

  .checkout__counterInput {
    margin: 20px 0px 30px 0px;
  }

  .checkout__counter {
    margin: 20px 0px;
  }

  .checkout_counterQuantity {
    width: 150px;
    height: 42px;
    font-size: 30px;
    line-height: 50px;
    border: none;
  }

  .checkout__counterBtnMinus,
  .checkout__counterBtnPlus {
    width: 42px;
    height: 42px;
  }
  .checkout__counterBtnMinus:disabled,
  .checkout__counterBtnPlus:disabled {
    width: 42px;
    height: 42px;
  }

  .checkout__counterIcon {
    font-size: 28px !important;
  }
}
