.checkout__ {
  width: 100%;
}
.checkout__shipSubtitle {
  font-size: 12px;
  color: gray;
}

.checkout__price span {
  margin-right: 5px;
}

.checkout__BtnCart,
.checkout__BtnBuy {
  width: 100%;
  background: #ff4800;
  border-radius: 30px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;
  border: none;
  height: 35px;
  outline: none;
  margin-top: 10px;
}
.checkout__BtnCart {
  background: #ff4800;
  display: flex;
  align-items: center;
}

.checkout__BtnBuy {
  background: #ff2525;
  display: flex;
  align-items: center;
}

.checkout__BtnCart:hover {
  background: #e24202;
  cursor: pointer;
}

.checkout__BtnBuy:hover {
  background: #e42121;
  cursor: pointer;
}
.checkout__imageBtn {
  margin-left: 10px;
}

.checkout__btnCartName,
.checkout__btnBuyName {
  margin: 0 auto;
}

.checkout__counterInput {
  margin: 5px 0px 0px 0px;
}


.checkout__counter {
  margin: 10px 0px;
}

.checkout_counterQuantity {
  width: 50px;
  text-align: center;
  height: 20px;
  outline: none;
  cursor: default;
  border: none;
}

.checkout__counterBtnMinus,
.checkout__counterBtnPlus {
  outline: none;
  border: none;
  width: 23px;
  height: 23px;
  color: black;
  border-radius: 3px;
  transition: all 0.2s ease;
}

.checkout__counterBtnMinus {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.checkout__counterBtnPlus {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.checkout__counterBtnMinus:hover,
.checkout__counterBtnPlus:hover {
  cursor: pointer;
  color: white;
  background: #ff4800;
}

.checkout__price {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.checkout__shipImg {
  width: 40px;
  margin-right: 5px;
}

.checkout__ship {
  display: flex;
  align-items: center;
}
