.checkout__shipSubtitle {
  font-size: 12px;
  color: gray;
}

.checkout__price span {
  margin-right: 5px;
}

.checkout__btn {
  width: 100%;
}

.checkout__BtnCart,
.checkout__BtnBuy {
  width: 100%;
  height: 35px;
  font-family: "Quicksand", sans-serif;
  color: white;
  border-radius: 30px;
  background: #ff4800;
  border: none;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(255, 72, 0, 0.3);
}
.checkout__BtnCart {
  background: #ff4800;
  display: flex;
  align-items: center;
}

.checkout__BtnBuy {
  margin-top: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
  background: white;
  color: #ff4800;
  display: flex;
  align-items: center;
}

.checkout__BtnCart:hover {
  background: rgb(243, 69, 0);
  cursor: pointer;
}

.checkout__BtnBuy:hover {
  background: rgb(250, 250, 250);
  cursor: pointer;
}
.checkout__imageBtn {
  margin-left: 10px;
}

.checkout__btnCartName,
.checkout__btnBuyName {
  margin: 0 auto;
}

.checkout__counterInput {
  display: flex;
  margin: 10px 0px 20px 0px;
}

.checkout__counter {
  margin: 10px 0px;
}

.checkout_counterQuantity {
  width: 50px;
  text-align: center;
  height: 20px;
  outline: none;
  cursor: default;
  border: none;
}

.checkout__counterBtnMinus,
.checkout__counterBtnPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  width: 23px;
  height: 23px;
  color: white;
  border-radius: 3px;
  transition: all 0.2s ease;
  border-radius: 50%;
  background: #ff4800;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(255, 72, 0, 0.3);
}

.checkout__counterBtnMinusDisabled {
  outline: none;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 3px;
  transition: all 0.2s ease;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
  cursor: default;
  background: whitesmoke;
}

.checkout__price {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.checkout__shipImg {
  width: 40px;
  margin-right: 5px;
}

.checkout__ship {
  display: flex;
  align-items: center;
}
