.product {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #c0c0c046;
  border-radius: 2rem;
  margin: 1rem;
  padding: 1.2rem;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.05);
  background: white;
  align-items: center;
  max-width: 200px;
  font-family: "Quicksand", sans-serif;
  width: 100%;
}

.product__content {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
}

.product__text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.product__image {
  display: flex;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  object-fit: contain;
}

.product__title {
  font-size: 1.1rem;
}

.product__author {
  color: gray;
  font-size: 0.8rem;
}

.product__prices {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product__price {
  margin-right: 10px;
}

.product__iconCart {
  color: white;
  font-size: 20px !important;
}

@media (max-width: 768px) {
  .product__content {
    display: flex;
    flex-direction: column;
    height: 330px;
    width: 100%;
    margin: 0rem;
  }

  .product__title {
    font-size: 1rem;
  }

  .product__author {
    font-size: 12px;
  }

  .product__price {
    font-size: 16px;
    margin-right: 10px;
  }

  .product__iconCart {
    color: white;
    font-size: 18px !important;
  }
}

@media (max-width: 425px) {
  .product {
    max-width: 180px;
  }

  .product__content {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
  }

  .product__title {
    font-size: 1rem;
  }

  .product__author {
    font-size: 12px;
  }

  .product__price {
    font-size: 16px;
    margin-right: 10px;
  }

  .product__iconCart {
    color: white;
    font-size: 18px !important;
  }
}
