.product {
  display: flex;
  flex-direction: column;
  border-radius: 1.5em;
  padding: 1.2em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  background: white;
  max-width: 16rem;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: max(15vw, 23rem);
}
/* border: 2px solid transparent;
-webkit-font-smoothing: antialiased;
background-clip: padding-box;
-moz-osx-font-smoothing: grayscale;
background: rgba(255, 255, 255, 0.1); 
backdrop-filter: blur(20px); */

.product__text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.product__image {
  display: flex;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  object-fit: contain;
  max-height: 200px;
}

.product__title {
  font-size: clamp(1.1rem, 0.75vw, 2rem);
}

.product__author {
  color: rgb(77, 77, 77);
  /* font-size: 0.8rem; */
  font-size: clamp(0.8rem, 0.75vw, 1.05rem);
  font-weight: 400;
}

.product__prices {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product__price {
  margin-right: 10px;
  font-size: clamp(0.9rem, 0.75vw, 1.6rem);
}

.product__iconCart {
  color: white;
  font-size: 20px !important;
}
