.subtotal {
  width: 100%;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  margin: 0px 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  font-family: "Quicksand", sans-serif;
}

.subtotal__text {
  font-size: 18px;
}

.subtotal button {
  width: 100%;
  background: #ff4800;
  border-radius: 30px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;
  border: none;
  height: 35px;
  outline: none;
  margin-top: 20px;
}

.subtotal button:hover {
  cursor: pointer;
  background: #f54500;
}
button:disabled {
  color: rgb(196, 196, 196);
  background: #ff5e1f;
  cursor: none;
}
.subtotal button:hover:disabled {
  cursor: not-allowed;
  background: #ff5e1f;
}
