.payment {
  display: flex;
  font-family: "quicksand";
  justify-content: space-between;
}

.payment__container {
  background: white;
  padding: 1.2rem;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
}
.payment__left {
  margin-right: 20px;
  flex: 0.7;
}
.payment__right {
  flex: 0.3;
}

.payment h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.payment__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.payment__cardBook {
  align-items: center;
  display: flex;
}

.payment__cardImg {
  max-width: 5rem;
  width: 100%;
  border-radius: 20px;
  margin-right: 10px;
}
