.payment__content {
  display: flex;
  font-family: "quicksand";
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.payment__container {
  background: white;
  padding: 1.5em;
  margin-top: 2rem;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
}
.payment__left {
  flex: 2 1 30rem;
}
.payment__right {
  flex: 1 1 20rem;
}

.payment h2 {
  font-size: clamp(1.3rem, 1.8vw, 2rem);
  margin-bottom: 20px;
}

.payment__card {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
}

.payment__cardBook {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.payment__cardImg {
  max-width: 6rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

.payment__address p,
.payment__cardBook h3,
.payment__cardBook p {
  /* font-size: clamp(1rem, 1.2vw, 1.6rem); */
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
}

@media (min-width: 550px) {
  .payment__cardBook {
    flex-direction: row;
    margin-top: 0;
  }
  .payment__card {
    flex-direction: row;
    align-items: center;
  }
  .payment__cardImg {
    margin: 0 1rem 0 0;
  }
}

@media (min-width: 880px) {
  .payment__left {
    margin-right: 2em;
  }

  .payment__cardBook {
    margin-top: 0;
    align-items: center;
  }
}

@media (min-width: 1800px) {
  .payment__container {
    padding: 2em;
  }
  .payment__cardImg {
    max-width: 8.5rem;
  }
  .payment__right {
    flex: 1 1 10rem;
  }
}
