.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  background: white;
  font-family: "Quicksand", sans-serif;
  top: 0;
  z-index: 100;
  height: 60px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.315);
}

.header__left {
  display: flex;
}
.header__logo {
  max-width: 150px;
  padding: 0 20px;
}

.header__center {
  align-items: center;
  width: 100%;
}

.header__search {
  display: flex;
}

.header__searchInput {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 30px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}

.header__searchIcon {
  cursor: pointer;
  padding: 5px;
  object-fit: contain;
  display: flex;
  align-self: center;
  color: white;
}

.header__seacrhMainIcon {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  height: 32px;
  background: #ff4800;
  display: flex;
  align-items: center;
  margin-right: 10px;
  outline: none;
  border: none;
}

.header__cart {
  margin: 0 20px 0 0;
  display: flex;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
}

.header__cartIcon {
  object-fit: contain;
  cursor: pointer;
  padding: 4px 5px;
  color: rgb(145, 145, 145);
  border-radius: 4px;
}
.header__cartIcon:hover {
  background: rgba(0, 0, 0, 0.05);
}

.header__cartNumber {
  position: absolute;
  width: 16px;
  text-align: center;
  border-radius: 50%;
  font-size: 9px;
  font-weight: bold;
  line-height: 16px;
  height: 16px;
  background-color: #ff4800;
  top: 0px;
  right: -4px;
  color: white;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__signin,
.header__signup {
  width: 70px;
  height: 30px;
  margin-right: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

.header__auth {
  padding-left: 20px;
  border-left: 1px solid #ff480038;
  display: flex;
}

.header__userProfile {
  position: relative;
  margin-left: 17px;
  font-size: 0.9rem;
  display: flex;
  font-family: "quicksand";
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

.header__userProfile::after {
  content: "";
  position: absolute;
  border-left: 1px solid #ff480038;
  width: 20px;
  height: 30px;
  left: -1.2rem;
}

.header__userProfile p {
  margin: 0 0.5rem;
}

.header__userProfile:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  cursor: pointer;
  padding: 0.3rem;
}

.header__signup {
  background: #ff4800;
  color: white;
}

.header__signin {
  background: transparent;
  color: #ff4800;
  border: 1px solid #ff4800;
}

.header__category {
  position: relative;
}

.header__categoryMain {
  padding: 10px 0;
}

.header__categoryTitle {
  font-size: 12px;
  position: relative;
  padding: 5px 10px;
  color: #ff4800;
  font-weight: bolder;
}

.header__categoryTitle:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  cursor: pointer;
}

.header__categoryDropdown {
  display: none;
  position: absolute;
  min-width: fit-content;
  top: 40px;
  left: -20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  background: white;
}

.header__categoryMain:hover > .header__categoryDropdown {
  display: flex;
}

.dropdown__item {
  list-style: none;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.dropdown__item li {
  padding: 8px 30px 8px 20px;
}

.dropdown__item li:first-of-type {
  margin-top: 0;
}

.dropdown__link {
  text-decoration: none;
  color: #ff4800;
  font-size: 14px;
}
.dropdown__item li:hover {
  color: #da4004;
  /* width: 100%; */
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}

.header__userProfileDropdown {
  display: inline-block;
  position: relative;
  color: gray;
}
.header__dropdownContent {
  display: none;
  position: absolute;
  min-width: 100px;
  top: 40px;
  left: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  background: white;
  font-size: 14px;
}

.header__dropdownContent li {
  padding: 8px 20px 8px 10px;
}
.header__dropdownContent li:hover {
  background-color: antiquewhite;
  background: rgba(0, 0, 0, 0.05);
}

.header__dropdownContent li a {
  color: #ff4800;
}

.header__userProfileDropdown:hover .header__dropdownContent {
  display: block;
}
