.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #fff;
  background: #fff;
  font-family: "Quicksand", sans-serif;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 5em;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.315);
  position: fixed;
  padding: 2em 1em;
}

.header__left {
  display: flex;
}

.header__logo {
  max-width: 150px;
  padding: 0 20px;
}

.header__search {
  display: none;
}

.header__cart {
  display: none;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__signup {
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  background: #ff4800;
  color: white;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0px 5px 10px rgba(255, 72, 0, 0.1);
}

.header__signin {
  width: 60px;
  height: 35px;
  margin-right: 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: white;
  font-family: "Quicksand", sans-serif;
}

.header__auth {
  padding-left: 20px;
  border-left: 1px solid #ff480038;
  display: flex;
}

.header__signin:hover {
  color: #ff4800;
}

.header__category {
  display: none;
}

.header__userProfileDropdown {
  display: inline-block;
  position: relative;
  color: gray;
}

.header__userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.header__avatar {
  width: 2.4rem !important;
  height: 2.4rem !important;
}
.header__dropdownContent,
.header__userProfile p,
.header__navMobile {
  display: none;
}

/* mobile */

.header__navMobile.show {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5em;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  padding-bottom: 1rem;
  width: 100%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  animation: nav 0.5s ease-in;
}

.header__navMobile.show h4 {
  font-family: "quicksand";
  padding: 0.5rem 2rem;
  /* margin-bottom: -1rem; */
  font-weight: 600;
  color: #ff4800;
}

.header__navMobile.show li {
  padding: 0.2rem 2rem;
  color: #ff48009f;
  font-size: clamp(0.9rem, 0.75vw, 1.6rem);
}

.header__navMobile.show li a {
  color: #ff48009f;
  font-size: clamp(0.9rem, 0.75vw, 1.6rem);
}

.header__searchMobile {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.header__searchInputMobile {
  border-radius: 1em 0 0 1em;
  width: 100%;
  padding: 0.5em;
  height: 100%;
  height: 2.5rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__searchIconMobile {
  /* font-size: 2rem !important; */
  color: white;
}

.header__searchMainIconMobile {
  border-radius: 0 1em 1em 0;
  background: #ff4800;
  padding: 0.5em;
  outline: none;
  cursor: pointer;
  border: none;
}

@keyframes nav {
  from {
    top: -5rem;
    z-index: 0;
    opacity: 0;
  }
  to {
    top: 5em;
    opacity: 1;
    z-index: 100;
  }
}

@media (min-width: 768px) {
  /* search */
  .header__search {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 1em;
  }

  .header__searchInput {
    border-radius: 1em 0 0 1em;
    width: 100%;
    padding: 0.5em;
    height: 100%;
    height: 2.5rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .header__searchIcon {
    /* font-size: 2rem !important; */
    color: white;
  }

  .header__searchMainIcon {
    border-radius: 0 1em 1em 0;
    background: #ff4800;
    padding: 0.5em;
    outline: none;
    cursor: pointer;
    border: none;
  }

  /* profile */
  .header__userProfile p {
    display: inline;
    margin: 0 0.5rem;
    font-size: clamp(0.9rem, 0.75vw, 1.6rem);
  }
  .header__cart {
    display: flex;
    position: relative;
    margin: 0 1em;
    padding: 0.5em;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 0.5em;
  }

  .header__cartIcon {
    cursor: pointer;
    color: rgb(145, 145, 145);
  }

  .header__cart:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  .header__cartNumber {
    position: absolute;
    padding: 0.25em 0.5em;
    text-align: center;
    border-radius: 50%;
    font-size: 9px;
    font-weight: bold;
    background-color: #ff4800;
    top: 2px;
    right: 2px;
    color: white;
  }

  /* category */

  .header__category {
    display: inline;
    padding: 10px 0;
    position: relative;
  }

  .header__categoryTitle {
    font-size: 12px;
    padding: 5px 10px;
    color: #ff4800;
    font-weight: bolder;
  }

  .header__categoryTitle:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    cursor: pointer;
  }

  .header__categoryDropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #fff;
    top: 3.5em;
    left: -1em;
    font-size: clamp(0.8rem, 0.75vw, 1.05rem);
    border-radius: 0.6em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  }

  .header__category:hover > .header__categoryDropdown {
    display: flex;
  }

  .dropdown__link {
    padding: 0.75em 1em;
    color: #ff4800;
    font-size: clamp(0.9rem, 0.75vw, 1.6rem);
  }

  .dropdown__link:hover {
    color: #da4004;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
  }

  /* separator */
  .header__userProfile::after {
    content: "";
    position: absolute;
    border-left: 1px solid #ff480038;
    width: 20px;
    height: 30px;
    left: -0.5rem;
  }

  /* dropdown profile */

  .header__userProfile:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0.5em;
    cursor: pointer;
  }

  .header__dropdownContent {
    display: none;
    position: absolute;
    top: 3.2em;
    left: 0px;
    /* left: -1em; */
    border-radius: 0.6em;
    font-size: clamp(0.9rem, 0.75vw, 1.6rem);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    background: #fff;
  }

  .header__dropdownContent li {
    padding: 0.75em 1em;
  }

  .header__dropdownContent li a {
    color: #ff4800;
  }

  .header__dropdownContent li:hover {
    background-color: #faebd7;
    background: rgba(0, 0, 0, 0.05);
  }
  .header__userProfileDropdown:hover .header__dropdownContent {
    display: block;
  }
}
