.header {
  background: #1c1b2d;
  box-shadow: 0px 0.25em 1em #00000050;
  position: fixed;
  /* height: 5em; */
  z-index: 1000;
  padding: 1em;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #fff;
  /* background: #fff; */

  font-family: "Quicksand", sans-serif;
  top: 0;
}

/* background: #1c1b2d; */
/* color: #ee872e !important; */

.header__left {
  display: flex;
}

.header__logo {
  /* max-width: 12rem; */
  /* padding: 0 2em; */
  display: flex;
  color: #fff;
  font-weight: 700;
  width: fit-content;
  align-items: flex-end;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-right: 1.5rem;
}

.header__logo span {
  display: none;
  white-space: nowrap;
}

.header__search {
  display: none;
}

.header__cart {
  display: none;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__signup {
  display: none;
}

.header__signin {
  padding: 0.25em 0;
  /* height: 35px; */
  border: none;
  width: fit-content;
  cursor: pointer;
  font-size: 0.9rem;
  /* font-size: clamp(0.7rem, 1vw, 1.3rem); */
  background: transparent;
  font-weight: 700;
  color: #fff;
  border-bottom: 2px solid #ff4800;
  border-radius: none;
  white-space: nowrap;
  font-family: "Quicksand", sans-serif;
}

.header__auth {
  display: flex;
}

.header__signup:hover,
.header__signin:hover {
  opacity: 0.9;
}

.header__category {
  display: none;
}

.header__userProfileDropdown {
  display: inline-block;
  position: relative;
  color: gray;
}

.header__userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.header__avatar {
  width: 2.4rem !important;
  height: 2.4rem !important;
}
.header__dropdownContent,
.header__userProfile p,
.header__navMobile {
  display: none;
}

/* mobile */

.header__navMobile.show {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5em;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #1c1b2d;
  padding-bottom: 1rem;
  width: 100%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  animation: nav 0.5s ease-in-out;
}

.header__navMobile.show h4 {
  font-family: "quicksand";
  padding: 0.5em 1em;
  /* margin-bottom: -1rem; */
  font-weight: 700;
  color: #fff;
}

.header__navMobile.show li {
  padding: 0.5em 1em;
  color: #fff;
  font-size: clamp(0.9rem, 0.75vw, 1.6rem);
}

.header__navMobile.show li a {
  color: #fff;
  font-size: clamp(0.9rem, 0.75vw, 1.6rem);
}

.header__searchMobile {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
  margin-top: 1rem;
}

.header__searchInputMobile {
  border-radius: 1em 0 0 1em;
  width: 100%;
  padding: 0.5em;
  height: 100%;
  height: 2.5rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__searchIconMobile {
  /* font-size: 2rem !important; */
  color: white;
}

.header__searchMainIconMobile {
  border-radius: 0 1em 1em 0;
  background: #ff4800;
  padding: 0.5em;
  outline: none;
  cursor: pointer;
  border: none;
}

.header__mobileCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__mobileCartNumber {
  color: #fff;
  font-weight: 700;
}

@keyframes nav {
  from {
    top: -5rem;
    z-index: 0;
    opacity: 0;
  }
  to {
    top: 5em;
    opacity: 1;
    z-index: 100;
  }
}

@media (min-width: 768px) {
  /* search */
  .header__search {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    margin-right: 1em;
    background: #fff;
    border-radius: 0.75em;
    overflow: hidden;
  }

  .header__logo span {
    display: block;
    margin-left: 0.5rem;
    margin-bottom: 0.35rem;
  }

  .header__searchInput {
    border-radius: 1em 0 0 1em;
    width: 100%;
    padding: 0.5em 1.25em;
    height: 100%;
    font-size: 0.9rem;
    /* font-size: 1rem; */
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    border-radius: 0.75em;
    background: transparent;
    outline: none;
    border: none;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
  }

  .header__searchIcon path {
    /* font-size: 2rem !important; */
    fill: #fff;
  }

  .header__searchMainIcon {
    /* border-radius: 0 1em 1em 0; */
    background: #ff4800;
    padding: 0.5em 1em;
    outline: none;
    cursor: pointer;
    border: none;
  }

  /* profile */
  .header__userProfile p {
    display: inline;
    margin: 0 0.75rem;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 700;
    /* font-size: clamp(0.9rem, 1.15vw, 1.5rem); */
  }
  .header__cart {
    display: flex;
    position: relative;
    margin: 0 1em;
    padding: 0.5em;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 0.5em;
  }

  .header__cartIcon {
    cursor: pointer;
    width: 1.5rem;
    color: rgb(145, 145, 145);
  }

  .header__cart:hover img {
    opacity: 0.9;
    /* background: rgba(0, 0, 0, 0.05); */
  }

  .header__cartNumber {
    position: absolute;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 50%;
    /* font-size: 9px; */
    font-size: clamp(0.5rem, 0.75vw, 1rem);
    font-weight: bold;
    background-color: #ff4800;
    top: 2px;
    right: 2px;
    color: white;
  }

  /* category */

  .header__category {
    display: inline;
    padding: 1em 0;
    height: calc(100% + 1rem);
    position: relative;
  }

  .header__categoryTitle {
    /* font-size: 12px; */
    font-size: 0.9rem;
    color: #fff;
    margin: 0 1rem;
    font-weight: 700;
  }

  .header__categoryTitle:hover {
    background: rgba(0, 0, 0, 0.05);
    /* border-radius: 4px; */
    opacity: 0.9;
    cursor: pointer;
  }

  .header__categoryDropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #1c1b2d;
    /* background: #fff; */
    padding-top: 1em;
    /* top: calc(100% + 1rem); */
    top: 100%;
    left: 0;
    /* font-size: clamp(0.8rem, 0.75vw, 1.05rem); */
    border-radius: 0 0 0.6em 0.6em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  }

  .header__category:hover .header__categoryTitle {
    opacity: 0.9;
  }

  .header__category:hover > .header__categoryDropdown {
    display: flex;
  }

  .dropdown__link {
    padding: 0.75em 1em;
    /* color: #ff4800; */
    font-weight: 700;
    color: #fff;
    font-size: 0.9rem;
    /* font-size: clamp(0.9rem, 0.75vw, 1.6rem); */
  }

  .dropdown__link:hover {
    /* color: #da4004; */
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
  }

  /* separator */
  .header__userProfile::after {
    content: "";
    position: absolute;
    border-left: 1px solid #ff480038;
    width: 20px;
    height: 30px;
    left: -0.5rem;
  }

  /* dropdown profile */

  .header__userProfile:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0.5em;
    cursor: pointer;
  }

  .header__dropdownContent {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #1c1b2d;
    /* background: #fff; */
    padding-top: 1em;
    /* top: calc(100% + 1rem); */
    top: 100%;
    left: 0;
    /* font-size: clamp(0.8rem, 0.75vw, 1.05rem); */
    border-radius: 0 0 0.6em 0.6em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  }

  .header__dropdownContent li {
    padding: 0.75em 1em;
  }

  .header__dropdownContent li a {
    color: #fff;
    font-weight: 700;
    font-size: 0.9rem;
    white-space: nowrap;
  }

  .header__dropdownContent li:hover {
    background-color: #faebd7;
    background: rgba(0, 0, 0, 0.05);
  }
  .header__userProfileDropdown:hover .header__dropdownContent {
    display: block;
  }

  /* header auth */
  .header__auth {
    padding-left: 1rem;
    /* border-left: 1px solid #ff480038; */
    display: flex;
    align-items: center;
  }

  .header__signup {
    padding: 0.75em 1.75em;
    display: flex;
    width: fit-content;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    border-radius: 0.75em;
    border: none;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    font-weight: bold;
    /* font-size: clamp(0.7rem, 1vw, 1.3rem); */
    outline: none;
    background: #ff4800;
    color: white;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0px 5px 10px rgba(255, 72, 0, 0.1);
  }
}
/* 
@media (min-width: 1800px) {
  .header {
    padding: 3.5em 1.5em;
  }

  .header__searchInput {
    padding: 1.25em;
  }

  .header__userProfile p {
    margin: 0 1rem;
  }

  .header__logo {
    max-width: 15rem;
  }
  .header__searchMainIcon {
    padding: 1em;
  }
  .header__cartNumber {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    top: 0px;
    right: 0px;
  }
  .header__cartIcon {
    font-size: 35px !important;
  }
  .header__avatar {
    width: 3.5rem !important;
    height: 3.5rem !important;
  }
  .header__userProfile::after {
    border-left: 0.1rem solid #ff480038;
    width: 20px;
    height: 50px;
  }
} */
