footer {
  border-top: 1px solid #e3e3e3;
}

.footer {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  padding: 3em 0;
}

.footer__title {
  margin-bottom: 1.15rem;
  font-weight: 600;
  color: #000;
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__botAlone {
  margin-top: 30px;
  color: rgb(46, 46, 46);
  /* font-size: 12px; */
  font-weight: bold;
  font-size: clamp(0.8rem, 0.75vw, 1.05rem);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
}

.footer__inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.footer__inner a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #757575;
  /* font-size: 14px; */
  font-size: clamp(0.8rem, 0.75vw, 1.05rem);

  margin-bottom: 15px;
}

.footer__inner a:hover {
  color: #ff4800;
  font-weight: bold;
}

.footer__inner img {
  object-fit: contain;
  max-width: 5rem;
  width: 100%;
}

.footer__logo {
  /* max-width: 12rem; */
  /* padding: 0 2em; */
  display: flex;
  color: #000;
  font-weight: 700;
  width: 100%;
  align-items: flex-end;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-right: 1.5rem;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .footer__logo span {
    display: block;
    margin-left: 0.5rem;
    font-size: 2rem;
    margin-bottom: 0.35rem;
  }
}
