.footer {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  padding: 70px 20%;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 600;
  color: rgb(46, 46, 46);
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  text-transform: uppercase;
}

.footer__botAlone {
  margin-top: 30px;
  color: rgb(46, 46, 46);
  /* font-size: 12px; */
  font-weight: bold;
  font-size: clamp(0.8rem, 0.75vw, 1.05rem);

}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
}

.footer__inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.footer__inner a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #757575;
  /* font-size: 14px; */
  font-size: clamp(0.8rem, 0.75vw, 1.05rem);

  margin-bottom: 15px;
}

.footer__inner a:hover {
  color: #ff4800;
  font-weight: bold;
}

.footer__inner img {
  object-fit: contain;
  max-width: 300px;
  width: 100%;
}

