.completedPaymentSummary__item {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.completedPaymentSummary h2 {
  font-size: clamp(1.3rem, 1.8vw, 2rem);
  margin-bottom: 1rem;
}

.completedPaymentSummary__item {
  /* font-size: clamp(1rem, 1.2vw, 1.6rem); */
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
}

.completedPaymentSummary__item.last-item {
  margin-bottom: 1rem;
}
