.detailProduct {
  width: 100%;
}
.detailProducts__content {
  display: flex;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
}

.detailProducts__container h1 {
  font-size: 28px;
}

.detailProducts__container {
  background: white;
  padding: 1.2rem;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
  height: fit-content;
  margin: 10px;
}

.detailProduct__bookInfo {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
}

.detailProducts__left {
  flex: 2 1 30rem;
}
.detailProducts__right {
  flex: 1 1 20rem;
  min-width: 300px;
}

.detailProducts__image {
  max-width: 12rem;
  width: 100%;
  margin-right: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .detailProducts__left h1 {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .detailProducts__content {
    flex-wrap: wrap;
  }

  .detailProducts__container {
    width: 100%;
  }

  .detailProducts__left h1 {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .detailProducts__left {
    font-size: 14px;
  }
  .detailProducts__left h1 {
    font-size: 20px;
  }
  .detailProducts__left h2 {
    font-size: 16px;
  }
}

@media (max-width: 440px) {
  .detailProducts__image {
    max-width: 100px;
  }

  .detailProduct__bookInfo {
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .detailProduct {
    padding: -2rem;
    width: 100%;
  }

  .detailProducts__container {
    margin: -10px;
    margin-bottom: 30px;
  }
  .detailProducts__right {
    min-width: 0;
  }
}

@media (max-width: 375px) {
  .detailProducts__left h1 {
    font-size: 18px;
  }
}

@media (min-width: 2000px) {
  .detailProduct {
    padding-top: 4rem;
  }
  .detailProducts__container {
    border-radius: 35px;
    margin: 20px;
    padding: 3rem;
  }
  .detailProducts__left {
    font-size: 30px;
  }
  .detailProducts__left h1 {
    font-size: 45px;
  }
  .detailProducts__left h2 {
    font-size: 35px;
  }

  .detailProduct__bookInfo {
    width: 100% !important;
  }

  .detailProducts__image {
    max-width: 300px;
    object-fit: contain !important;
  }

  .detailProducts__right {
    min-width: 600px;
  }
}
