* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid__container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background: white;
  color: black;
}

main {
  grid-area: main;
  padding: 2rem;
}

footer {
  grid-area: footer;
  color: black;
}

h2 {
  font-size: 1.2rem;
}

img.medium {
  max-width: 10rem;
  width: 100%;
}

@media (max-width: 768px) {
  img.medium {
    max-width: 130px;
    width: 100%;
  }
}
@media (max-width: 425px) {
  img.medium {
    max-width: 100px;
    width: 100%;
  }
}
@media (min-width: 2560px) {
  img.medium {
    max-width: 300px;
    width: 100%;
  }
}

.product span {
  color: #f0c040;
  margin: 0.1rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* btn style */

.btn__cart {
  display: none;
}

@media (min-width: 800px) {
  .btn__cart {
    width: 2.1rem;
    height: 2.1rem;
    background: #ff4800;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(255, 97, 5, 0.4);
  }
}

/* container product */
.container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, minmax(9em, auto));
  gap: 1rem;
}

@media (min-width: 750px) {
  .container {
    grid-template-columns: repeat(3, minmax(10em, auto));
    gap: 2rem;
  }
}

@media (min-width: 1000px) {
  .container {
    grid-template-columns: repeat(4, minmax(10em, auto));
  }
}

@media (min-width: 1440px) {
  .container {
    grid-template-columns: repeat(5, minmax(10em, auto));
  }
}

@media (min-width: 1800px) {
  .container {
    grid-template-columns: repeat(6, minmax(10em, auto));
  }
}
@media (min-width: 1900px) {
  .container {
    grid-template-columns: repeat(7, minmax(10em, auto));
  }
}
@media (min-width: 2300px) {
  .container {
    grid-template-columns: repeat(9, minmax(10em, auto));
  }
}
/* price */
.price {
  font-size: 16px;
  font-weight: bolder;
}

/* warnings */
.loading {
  display: block !important;
}

.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}

.error {
  padding: 1em;
  border: 0.1rem solid transparent;
  border-radius: 1em;
  margin-bottom: 1rem;
  font-size: clamp(0.8rem, 0.75vw, 1.3rem);
}

.error__info {
  color: #ff4800;
  background: rgba(255, 81, 0, 0.2);
  margin-bottom: 1rem;
  font-size: clamp(0.8rem, 0.75vw, 1.3rem);
}

.error__danger {
  color: #a02020;
  background: #ffe0e0e0;
  margin-bottom: 1rem;
  font-size: clamp(0.8rem, 0.75vw, 1.3rem);
}

.error__dangerSmall {
  padding: 0.5em;
  color: #a02020;
  background: #ffe0e0e0;
  margin-bottom: 1rem;
  font-size: clamp(0.8rem, 0.75vw, 1.3rem);
}

.error__success {
  color: #20a020;
  background: #eeffe0;
  margin-bottom: 1rem;
  font-size: clamp(0.8rem, 0.75vw, 1.3rem);
}

.col-1 {
  flex: 1 1 10rem;
}
.col-3 {
  flex: 2 1 40rem;
}
.col-2 {
  flex: 1 1 10rem;
}
