.shipping {
  padding: 3em 0;
}

.shipping__container {
  background: white;
  display: flex;
  /* max-width: 60rem; */
  /* margin: 30px auto; */
  width: 100%;
  padding: 2em;
  margin-top: 2rem;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.shipping__container h1 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 1.5rem;
  /* font-size: clamp(1.5rem, 1.8vw, 2.5rem); */
  font-weight: 700;
}

.shipping__container label {
  font-size: 1rem;
  font-weight: 700;
}

.shipping__container input {
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  font-size: 1rem;
  padding: 0.75em 1em;
  border-radius: 0.75em;
  font-family: "Quicksand", sans-serif;
  border: 1px solid rgb(218, 218, 218);
}

.shipping__btn {
  width: 100%;
  /* height: 35px; */
  color: white;
  padding: 0.75em;
  border-radius: 2.5em;
  background: #ff4800;
  /* text-transform: uppercase; */
  font-family: "Quicksand", sans-serif;
  border: none;
  margin: 10px 0;
  font-size: clamp(0.9rem, 1.15vw, 1.3rem);
  cursor: pointer;
  font-weight: 700;
  /* letter-spacing: 2px; */
  box-shadow: 0px 5px 10px rgba(255, 72, 0, 0.3);
}

@media (min-width: 768px) {
  .shipping {
    width: 80%;
    margin: 0 auto;
  }

  .shipping__container h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1800px) {
  .shipping__container {
    padding: 2em;
  }
}

/* @media (max-width: 768px) {
  .shipping__container h1 {
    font-size: 28px;
  }

  .shipping__container label {
    font-size: 16px;
  }

  .shipping__container form input {
    height: 40px;
  }

  .shipping__btn {
    height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .shipping__container h1 {
    font-size: 25px;
  }

  .shipping__container label {
    font-size: 15px;
  }

  .shipping__container form input {
    font-size: 15px;
    height: 40px;
  }
}

@media (max-width: 320px) {
  .shipping__container h1 {
    font-size: 22px;
  }

  .shipping__container label {
    font-size: 14px;
  }

  .shipping__container form input {
    font-size: 14px;
    height: 30px;
  }
}

@media (min-width: 1440px) {
  .shipping__container {
    max-width: 70rem;
  }
}

@media (min-width: 2560px) {
  .shipping {
    margin-top: 6rem;
  }
  .shipping__container {
    max-width: 130rem;
    padding: 2rem;
    border-radius: 30px;
  }
  .shipping__container h1 {
    font-size: 50px;
  }
  .shipping__container label {
    font-size: 32px;
  }
  .shipping__container form input {
    font-size: 32px;
    height: 75px;
    text-indent: 15px;
  }

  .shipping__btn {
    height: 60px;
    font-size: 25px;
  }
} */
