.orderHistory {
  width: 100%;
  margin: 0 auto;
  font-family: "quicksand";
  margin-top: 1rem;
}

.orderHistory h1 {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
}

.orderHistory__allContent {
  display: flex;
  flex-direction: column-reverse;
}

.orderHistory__container {
  background: white;
  padding: 1em;
  margin: 1.5em 0;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
}

.orderHistory__header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 20px;
}

.orderHistory__orderAt {
  /* font-size: 1.1rem; */
  font-size: clamp(0.9rem, 1.15vw, 1.3rem);
  font-weight: 500;
}

.orderHistory__header h2 {
  font-size: clamp(0.9rem, 1.15vw, 1.3rem);
}

.orderHistory__body {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.orderHistory__body img {
  border-radius: 15px;
  max-width: 60px;
  width: 100%;
}

.orderHistory__item {
  font-size: 14px;
}

.orderHistory__bodyContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-left: 1rem; */
}

.orderHistory__bodyBot {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.orderHistory__price p {
  /* font-size: 0.8rem; */
  font-size: clamp(0.8rem, 0.75vw, 1.1rem);
}

.orderHistory__price strong {
  /* font-size: 1.1rem; */
  font-size: clamp(0.95rem, 1.2vw, 1.5rem);
}
.orderHistory__bodyBotBtn {
  display: flex;
}

.orderHistory__btnDetailsOrder,
.orderHistory__btnBuy {
  width: 9em;
  /* height: 35px; */
  padding: 0.75em 0.5em;
  font-family: "Quicksand", sans-serif;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  /* font-size: 0.8rem; */
  font-size: clamp(0.7rem, 1vw, 1.3rem);
  font-weight: 700;
}
.orderHistory__btnDetailsOrder {
  color: #ff4800;
  background: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-right: 1rem;
}

.orderHistory__btnBuy {
  display: none;
}

.orderHistory__bodyContent h2 {
  font-size: clamp(1rem, 1.3vw, 1.5rem);
}

@media (min-width: 450px) {
  .orderHistory__header {
    flex-direction: row;
  }

  .orderHistory__body {
    flex-direction: row;
  }

  .orderHistory__bodyContent {
    margin-left: 1rem;
  }
}

@media (min-width: 768px) {
  .orderHistory {
    width: 80%;
  }
  .orderHistory__container {
    padding: 1.5em;
  }

  .orderHistory__btnBuy {
    display: inline;
    color: white;
    background: #ff4800;
    box-shadow: 0px 5px 10px rgba(255, 72, 0, 0.3);
  }
}

@media (min-width: 1800px) {
  .orderHistory__container {
    padding: 2em;
  }
  .orderHistory__body img {
    max-width: 100px;
  }
}
